<footer class="mobile-footer">
    <div class="mobile-footer-container">
        <div class="mf-search"><img class="footer-img" src="/HWimages/util/search.png"><br>검색</div>
        <div class="mf-ranking"><img class="footer-img" src="/HWimages/util/ranking.png"><br>금주랭킹</div>
        <div class="mf-ranker"><img class="footer-img" src="/HWimages/util/ranker.png"><br>랭커보기</div>
    </div>
</footer>