{{!-- header => includes/header.hbs --}}

<nav class="mb-navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="mb-navbar-brand" href="/">행복워치</a>
<!--        <form action="#" class="mb-search-location-tap">-->
<!--            <div class="row justify-content-center">-->
<!--                <div class="col-lg-10 align-items-end">-->
<!--                    <div class="mb-form-group-tap">-->
<!--                        <div class="form-field">-->
<!--                            <input type="text" id="playerName-tap" class="form-control" placeholder=" 오버워치 플레이어 검색 ">-->
<!--                            <button type="button" id="btn-search-tap"><span class="ion-ios-search"></span></button>  &lt;!&ndash;&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
        {{#if isLogin}}
            <div>
                <button class="mb-battlenet btn-rounded" onclick="logoutBlizzard();">
                    <div class="mb-battlenet-text ">로그아웃</div>
                    <div class="mb-btn-outline-black"><img class="mb-battlenet-img-s" src="/HWimages/util/battlenet-logout.png"></div>
                </button>
            </div>
        {{else}}
            <div>
                <button class="mb-battlenet btn-rounded" onclick="ouathBlizzard();">
                    <div class="mb-battlenet-text font-color-blue">배틀넷연동</div>
                    <div class="mb-btn-outline-blue"><img class="mb-battlenet-img-s" src="/HWimages/util/battlenet.png"></div>
                </button>
            </div>
        {{/if}}

        <div class="collapse navbar-collapse" id="ftco-nav">
        </div>
    </div>
</nav>
<!-- END nav -->